* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

img {
  height: 70%;
  overflow: hidden;
}

@media (max-width: 768px) {
  img {
    height: 50%;
  }
}
