:root {
  --backg-color: #f1f3f5;
  --text-color: #212529;
  --header-back-color: rgba(255, 255, 255, 0.2);
  --hero-header-color: #e9ecef;
  --hero-login-color: #dee2e6;
  --nav-hover-color: #e9ecef;
  --button-color: #087f5b;
  --button-hover-color: #099268;
  --footer-background: #dee2e6;
  --copy-footer-text-color: #495057;
  --socialmedia-color: #343a40;
  --telegram-color: #1fa0e0;
  --instagram-color: #ef4a65;
  --youtube-color: #f04024;
  --github-color: #000000;
  --linkedin-color: #0070ac;
  --shop-background-color: #e9ecef;
  --shop-card-header-color: #212529;
  --shop-card-text-color: #495057;
  --shop-card-icon-color: #087f5b;
  --shop-card-icon-text-color: #343a40;
  --button-text: #f1f3f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background: var(--backg-color);
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../Img/ricardo-l-4pRm9XHPU_8-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 22px 30px;
  position: relative;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.logo a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 52px;
  color: var(--hero-header-color);
}

header > nav {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  position: relative;
}

header > nav > a {
  color: var(--hero-header-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  transition: all 0.35s;
}

header > nav > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--nav-hover-color);
  transition: 0.3s;
}

header > nav > a:hover::after {
  width: 100%;
}

.login {
  color: var(--hero-login-color);
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
  font-weight: 300;
  margin: 0 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.hero-header {
  width: 34vw;
  text-shadow: 1px 1px 30px #444;
  color: var(--hero-header-color);
  text-transform: capitalize;
  letter-spacing: -1.5px;
  line-height: 3.52rem;
  margin: 0 90px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 3.5rem;
  font-weight: 700;
}

section {
  padding: 20px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

section > img {
  width: 50%;
}

.content {
  padding: 0 39px;
  margin: 30px 0;
  font-size: 1.2rem;
  line-height: 1.9rem;
  letter-spacing: 0.03rem;
  font-family: sans-serif;
}

.content > h1 {
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: capitalize;
}

.content > p {
  color: var(--text-color);
  width: 89%;
}

.content > a > button {
  width: 11vw;
  height: 6vh;
  border: none;
  font-size: 0.86rem;
  background: var(--button-color);
  border-radius: 1000px;
  margin: 16px 0;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  font-weight: 500;
  color: var(--button-text);
  cursor: pointer;
  transition: background 0.2s;
}

.content > a > button:hover {
  background: var(--button-hover-color);
}

.shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shopping-header {
  display: inline-block;
  text-transform: capitalize;
  margin: 45px 60px;
  padding: 5px 15px;
  font-weight: 700;
  letter-spacing: -1px;
  border-bottom: 1px solid #111;
}

.item {
  background: var(--shop-background-color);
  width: 26vw;
  border-radius: 10px;
}

.item > img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.item > h3 {
  padding: 25px 25px 0;
  letter-spacing: -0.5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--shop-card-header-color);
  text-transform: capitalize;
}

.item > p {
  padding: 15px 25px 20px;
  line-height: 1.5rem;
  font-size: 16px;
  color: var(--shop-card-text-color);
  font-weight: 500;
  font-family: sans-serif;
}

.shoping-card-icons {
  padding: 8px 25px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 7px;
  row-gap: 20px;
}

.icon-container {
  font-size: 16px;
  font-weight: 300;
  color: var(--shop-card-icon-text-color);
  font-family: sans-serif;
}

.icon-container > i {
  color: var(--shop-card-icon-color);
  padding-right: 7px;
  font-size: 18px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 23px;
}

.price > p {
  font-size: 20px;
  font-weight: 700;
}

.price > button {
  border: none;
  background: var(--button-color);
  width: 8vw;
  height: 6vh;
  border-radius: 1000px;
  color: var(--button-text);
  transition: background 0.2s;
}

.price > button:hover {
  cursor: pointer;
  background: var(--button-hover-color);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
  box-shadow: 0px 5px 10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: var(--footer-background);
}

footer > p:not(:first-child) {
  padding: 8px;
  color: var(--copy-footer-text-color);
}

.footer-text {
  text-align: center;
  width: calc(100% - 30vw);
  padding: 12px 0;
  color: var(--copy-footer-text-color);
  border-bottom: 1px solid #222;
}

footer > nav > a {
  font-size: 39px;
  margin: 0 15px;
  padding: 6.5px 10px;
  border-radius: 100%;
  color: var(--socialmedia-color);
}

.fa {
  transition: color 0.2s;
}

#telegram:hover {
  color: var(--telegram-color);
}
#instagram:hover {
  color: var(--instagram-color);
}
#youtube:hover {
  color: var(--youtube-color);
}
#github:hover {
  color: var(--github-color);
}
#linkedin:hover {
  color: var(--linkedin-color);
}

@media (max-width: 900px) {
  header nav p {
    display: none;
  }
  .content > p {
    width: 100%;
  }
  .content > a > button {
    font-size: 0.689rem;
  }
}

@media (max-width: 800px) {
  header {
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    position: inherit;
    width: 100%;
  }
  header > h1 {
    display: none;
  }
  .logo a {
    margin: 0;
  }
  .logo {
    margin-bottom: 84px;
  }
  header > nav {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  h1 {
    margin-bottom: 30px;
  }
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec--1 {
    flex-direction: column-reverse;
  }
  section > img {
    width: 100%;
  }
  .content > h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  section > .content {
    margin: 10px 5px;
    letter-spacing: 0;
  }
  .content > a > button {
    font-size: 0.9rem;
    width: 25vw;
  }
  .shop {
    flex-direction: column;
  }
  #shop {
    text-align: center;
    width: 100%;
    padding: 5px 0;
    margin: 20px 0;
  }
  .item {
    margin: 40px 0;
    width: 90vw;
  }
  .price {
    flex-direction: column;
  }
  .price > p {
    font-size: 25px;
  }
  .price > button {
    font-size: 1rem;
    width: 100%;
    height: 8vh;
    margin-top: 10px;
  }
  footer > nav > a {
    font-size: 1.9rem;
    margin: 0 2px;
  }
}
