:root {
  --backg-color: hsla(18, 76%, 85%, 1);
  --text-color: #212529;
  --header-back-color: #1098ad;
  --nav-hover-color: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  color: var(--text-color);
  background: var(--backg-color);

  background: linear-gradient(
    90deg,
    hsla(18, 76%, 85%, 1) 0%,
    hsla(203, 69%, 84%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(18, 76%, 85%, 1) 0%,
    hsla(203, 69%, 84%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(18, 76%, 85%, 1) 0%,
    hsla(203, 69%, 84%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6CFBE", endColorstr="#B9DCF2", GradientType=1 );
}

header {
  width: 100%;
  background-color: var(--header-back-color);
  display: flex;
  align-items: center;
  padding: 10px 5px;
  position: sticky;
  top: 0;
}

header > a {
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color);
  font-weight: 900;
  padding: 0 20px;
  display: inline-block;
}

header > nav {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

header > nav > a {
  margin: 0 28px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  transition: color 0.35s;
}

header > nav > a:hover {
  color: var(--nav-hover-color);
}

section {
  padding: 20px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

section > img {
  width: 50%;
}

.content {
  /* height: 100%; */
  padding: 0 39px;
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.9rem;
  letter-spacing: 0.03rem;
  font-family: sans-serif;
}

.content > h1 {
  letter-spacing: -2px;
  margin-bottom: 15px;
  font-size: 1.9rem;
  font-weight: 700;
  font-family: sans-serif;
}

.content > p {
  width: 89%;
}

.sec--2 > .content {
  margin-left: 20px;
}

@media (max-width: 900px) {
  .content > p {
    width: 100%;
  }
}

@media (max-width: 800px) {
  header {
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    position: inherit;
    width: 100%;
  }
  header > h1 {
    padding: 0;
    margin: 0;
  }
  header > nav {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  header > nav > a {
    padding: 8px 0;
  }
  h1 {
    margin-bottom: 30px;
  }
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section > img {
    width: 100%;
  }
  section > .content {
    margin: 10px 30px;
  }
  .sec--2 {
    flex-direction: column-reverse;
  }
  .sec--2 > .content {
    margin: 30px;
  }
}
