:root {
  --backg-color: hsla(18, 76%, 85%, 1);
  --text-color: #212529;
  --header-back-color: #e9ecef;
  --nav-hover-color: #212529;
  --background-gradient: linear-gradient(
    90deg,
    hsla(18, 76%, 85%, 1) 0%,
    hsla(203, 69%, 84%, 1) 100%
  );
  --moz-background-gradient: -moz-linear-gradient(
    90deg,
    hsla(18, 76%, 85%, 1) 0%,
    hsla(203, 69%, 84%, 1) 100%
  );
  --webkit-background-gradient: -webkit-linear-gradient(
    90deg,
    hsla(18, 76%, 85%, 1) 0%,
    hsla(203, 69%, 84%, 1) 100%
  );
  --button-color: #087f5b;
  --button-hover-color: #099268;
  --footer-background: #dee2e6;
  --copy-footer-text-color: #495057;
  --socialmedia-color: #343a40;
  --telegram-color: #1fa0e0;
  --instagram-color: #ef4a65;
  --youtube-color: #f04024;
  --github-color: #000000;
  --linkedin-color: #0070ac;
  --shop-background-color: #fff0f6;
  --shop-card-header-color: #212529;
  --shop-card-text-color: #495057;
  --shop-card-icon-color: #087f5b;
  --shop-card-icon-text-color: #343a40;
  --button-text: #f1f3f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--backg-color);

  background: var(--background-gradient);

  background: var(--moz-background-gradient);

  background: var(--webkit-background-gradient);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6CFBE", endColorstr="#B9DCF2", GradientType=1 );
}

header {
  width: 100%;
  background-color: var(--header-back-color);
  display: flex;
  align-items: center;
  padding: 10px 5px;
  position: sticky;
  top: 0;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

header > .logo {
  text-decoration: none;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 900;
  padding: 0 20px;
  display: inline-block;
}

header > nav {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

header > nav > a {
  margin: 0 28px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.35s;
}

header > nav > a::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: var(--nav-hover-color);
  transition: width 0.3s;
}

header > nav > a:hover::after {
  width: 100%;
}

section {
  padding: 20px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

section > img {
  width: 50%;
}

.content {
  padding: 0 39px;
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.9rem;
  letter-spacing: 0.03rem;
  font-family: sans-serif;
}

.content > h1 {
  letter-spacing: -2px;
  margin-bottom: 20px;
  font-size: 1.9rem;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: capitalize;
}

.content > p {
  color: var(--text-color);
  width: 89%;
}

.content > a > button {
  width: 11vw;
  height: 6vh;
  border: none;
  font-size: 0.86rem;
  background: var(--button-color);
  border-radius: 1000px;
  margin: 16px 0;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  font-weight: 500;
  color: var(--button-text);
  cursor: pointer;
  transition: background 0.2s;
}

.content > a > button:hover {
  background: var(--button-hover-color);
}

.shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shopping-header {
  font-family: sans-serif;
  display: inline-block;
  text-transform: capitalize;
  margin: 45px 60px;
  padding: 5px 5px;
  font-weight: 900;
  letter-spacing: -2px;
  border-bottom: 1px solid #111;
}

.item {
  background: var(--shop-background-color);
  width: 26vw;
  border-radius: 10px;
}

.item > img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.item > h3 {
  padding: 25px 25px 0;
  font-family: sans-serif;
  letter-spacing: -1px;
  font-size: 18px;
  color: var(--shop-card-header-color);
  text-transform: capitalize;
}

.item > p {
  padding: 15px 25px 20px;
  line-height: 1.5rem;
  font-size: 16px;
  color: var(--shop-card-text-color);
  font-weight: 500;
  font-family: sans-serif;
}

.shoping-card-icons {
  padding: 8px 25px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 7px;
  row-gap: 20px;
}

.icon-container {
  font-size: 16px;
  font-weight: 300;
  color: var(--shop-card-icon-text-color);
  font-family: sans-serif;
}

.icon-container > i {
  color: var(--shop-card-icon-color);
  padding-right: 7px;
  font-size: 18px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 23px;
}

.price > p {
  font-size: 20px;
  font-weight: 700;
}

.price > button {
  border: none;
  background: var(--button-color);
  width: 8vw;
  height: 6vh;
  border-radius: 1000px;
  color: var(--button-text);
  transition: background 0.2s;
}

.price > button:hover {
  cursor: pointer;
  background: var(--button-hover-color);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
  box-shadow: 0px 5px 10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: var(--footer-background);
}

footer > p:not(:first-child) {
  padding: 8px;
  color: var(--copy-footer-text-color);
}

.footer-text {
  text-align: center;
  width: calc(100% - 30vw);
  padding: 12px 0;
  color: var(--copy-footer-text-color);
  border-bottom: 1px solid #222;
}

footer > nav > a {
  font-size: 39px;
  margin: 0 15px;
  padding: 6.5px 10px;
  border-radius: 100%;
  color: var(--socialmedia-color);
}

.fa {
  transition: color 0.2s;
}

#telegram:hover {
  color: var(--telegram-color);
}
#instagram:hover {
  color: var(--instagram-color);
}
#youtube:hover {
  color: var(--youtube-color);
}
#github:hover {
  color: var(--github-color);
}
#linkedin:hover {
  color: var(--linkedin-color);
}

@media (max-width: 900px) {
  .content > p {
    width: 100%;
  }
  .content > a > button {
    font-size: 0.689rem;
  }
}

@media (max-width: 800px) {
  header {
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    position: inherit;
    width: 100%;
  }
  header > h1 {
    padding: 0;
    margin: 0;
  }
  header > nav {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  header > nav > a {
    padding: 15px 0;
  }
  h1 {
    margin-bottom: 30px;
  }
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section > img {
    width: 100%;
  }
  .content > h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  section > .content {
    margin: 10px 5px;
    letter-spacing: 0;
  }
  .content > a > button {
    font-size: 0.9rem;
    width: 25vw;
  }
  footer > nav > a {
    font-size: 1.9rem;
    margin: 0 2px;
  }
}
